<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236320604181-a6aq90cchitnmgeruek1kn27q9gn7vff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236320604181-a6aq90cchitnmgeruek1kn27q9gn7vff</string>
	<key>API_KEY</key>
	<string>AIzaSyAufyWDCc1n1ZF9daawSmgMcDDyXS6w5iA</string>
	<key>GCM_SENDER_ID</key>
	<string>236320604181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>changhyun-kyle.AroundFootball</string>
	<key>PROJECT_ID</key>
	<string>around-football</string>
	<key>STORAGE_BUCKET</key>
	<string>around-football.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236320604181:ios:c16f50eb804b180f3dce1c</string>
	<key>DATABASE_URL</key>
	<string>https://around-football-default-rtdb.firebaseio.com</string>
</dict>
</plist>